/* =============
    Hero
============= */
#hero{

    section{
        // this is for the 40 60 split below the hero image
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        aside{
            // this grid is to give me the 16px of space right and left on the mobile size
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-aside .";
            
            >div{
               
                grid-area: hero-aside;
            }
        }

        #hero-left{
            background: fuchsia;
            @include xxl{
                grid-template-columns: 20% auto 16px;
            }
        }

        #hero-right{
            background: purple;
            @include xxl{
                grid-template-columns: 16px auto 20%;
            }
        }
    }
    
}

#hero-sub{

    @include md{
        // this grid controls the 2 cards that are 50% 50%
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero-sub .";
    }

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        @include md{
             grid-area: hero-sub;

             display: grid;
             grid-template-columns: 50% auto;
        }
        
        .hero-sub-content{
            >div{
                grid-area: hero-subs;
                // this grid controls the content inside the cards --- we will be replacing this will flex!
                display: grid;
                grid-template-columns: 50% auto;
            }
    
            #hero-sub-left{
                background-color: brown;
            }
    
            #hero-sub-right{
                background-color: sandybrown;
            }
        }

    }

    
}