/* =============
    Header
============= */
header {
	position: fixed;
	width: 100%;
	top:0;
	left: 0;
	z-index: 500;

	#header-top{
			background-color: var(--blueDark);
			padding: 16px 0 24px;
			display: grid;
			grid-template-columns: 50% auto;
			grid-template-areas: 
			"logo burger"
			"nav nav";

			@include xl {
				grid-template-columns: 20% auto;
				grid-template-areas: "logo nav"
			}

			#logo-container{
				padding-left: 16px;
				grid-area: logo;
			}

			#burger-container{
				grid-area: burger;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				@include xl {
					display: none;
				}
				button{
					color: white;
					background-color: transparent;
					border: none;
					font-size: rem-calc(20);
				}
			}

			#main-menu{
				grid-area: nav;
				// see navigation scss file for css
			}
	}

	#search {
		display: grid;
		grid-template-columns: 16px auto 16px;
		grid-template-areas: ". search .";
		background-color: var(--grayLight);
		padding: 16px 0;
		box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.3);

		@include md {
			padding: 24px 0;
		}

		@include xxl {
			grid-template-columns: auto 1200px auto;
			padding: 30px 0;
		}

		> div {
			grid-area: search;

			form {
				display: flex;
				input {
					width: 100%;
					border: none;
					border-bottom: 1px solid var(--blueLight);
					border-radius: 0;
					background-color: transparent;
					margin-right: 8px;

					@include md{
						font-size: rem-calc(30);
						font-weight: 300;
					}

					@include xl{
						font-size: rem-calc(35);
					}
				}

				button {
					background-color: var(--yellow);
					border: 0;
					border-radius: 5px;
					padding: 10px 15px;
					font-size: rem-calc(30);
                    color: var(--blueDark);
					cursor: pointer;
					transition: 0.25s;

					&:hover{
						background-color: var(--yellowDark);
						color: var(--white);
					}
				}
			}
		}
	}
}
